body{font-family: 'Courier New', Courier, monospace;
     background-image: url(receba.jpg);
    
    }

.nome { background-color: rgb(23, 179, 31);
text-align: center;
margin-left: 20vh;
margin-right: 20vh;
 border-radius: 10ch;
}

.nome h1{text-align: center;}

.coiso {
background-color: rgb(50, 97, 29);
text-align: center;
margin-left: 20vh;
margin-right: 20vh;
border-radius: 5px;

}

.descrição {
    margin: 10px;
    border-radius: 20px;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: rgb(104, 102, 207);
}

.hobbies {
    margin: 10px;
    border-radius: 20px;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: rgb(104, 102, 207);
}

.fotinha { 
    
    background-color: yellow;
margin-left: 60vh;
margin-right: 60vh;
border-radius: 100%;
}

img {
    width: 270px;
    height: 270px;
    margin: 5px;
    border-radius: 100%;}

.linki {margin: 10px;
    border-radius: 20px;
    margin-left: 50vh;
    margin-right: 50vh;
    background-color: rgb(104, 102, 207);}

a:hover{ 
color: pink;
}